<div class="tit">
   <h2 class="titl m-5">About By Net</h2>
   <img src="././assets/bynet.png" alt="bynet">
</div>
<p class="p1">
    Bynet Electronics provides Network Testing Solutions, Cyber Security and Network Performance Monitoring over 30 years. Our experts are working behind the scenes to ensure the best Quality of Experience (QOE) & Quality of Service (QOS) next to professional services, in order to secure and maximize your network performance success.
    Since the company’s foundation in 1990, Bynet Electronics has built a solid reputation, experience and knowledge as a supplier of comprehensive range of advanced Network solutions.
    Bynet Electronics is strongly positioned in the Israeli Telecommunication industries.
</p><br>
<p class="p2"> 
    Bynet’s customer portfolios consist of Developing Labs (R&D), Network Equipment Manufacturers (NEMs), Communications Integrators, Network Operators and Service Providers, Enterprise IT, and Military Industry and Government.
    Bynet Electronics is a member of the RAD-Bynet Group – a world leader in voice and data communications technologies. The Group is a family of more than 20 independent companies that develop, manufacture and market solutions for diverse segments of the networking and telecommunications industry.
</p>