.tit{
    align-items: center;
    margin-top: 50px;
    color: red;
    text-decoration: solid;
    text-align: center;
    text-size-adjust: 10px;
}
.imagebynet{
    text-align: center;
}
.p1{
    text-align: center;
    margin-top: 50px;
}
.p2{
    text-align: center;
    text-decoration: solid;
    margin-top: 50px;
    margin-bottom: 50px;
}